<form method='POST'>
  <label for='title-input'>Title</label>
  <input
    id='title-input'
    type='text'
    name='title'
    placeholder='Title'
    value='{{publication.title}}'
  />

  <label for='url-input'>Url</label>
  <input
    id='url-input'
    type='url'
    name='url'
    placeholder='Url'
    value='{{publication.url}}'
  />

  <button>Edit Publication</button>
</form>