* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

body {
  font-family: sans-serif;
  max-width: 50em;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  color: #1f1f1f;
  a {
    display: inline-block;
    padding: 1em 0;
    margin-right: 1em;
  }
  button {
    color: inherit;
    background: none;
  }
}

$font-sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$grey: hsl(0, 0, 90%);

body {
  max-width: 52em;
  padding: 0 1em;
  margin: 0 auto;
  font-family: sans-serif;
  font-family: $font-sans;
  line-height: 2;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  display: flex;
  a,
  button {
    display: inline-flex;
    align-items: center;
    padding: 1em 0;
    border: 0;
    &:not(:last-child) {
      margin-right: 1em;
    }
    &:first-child {
      margin-right: auto;
    }
  }
  img {
    $picture-size: 1.5em;
    width: $picture-size;
    height: $picture-size;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1em;
  }
  form,
  button {
    margin: 0;
  }
}

h1,
h2,
h3,
p {
  margin: 0;
  line-height: inherit;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

img {
  width: 100%;
  max-width: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

input:not([type='checkbox']),
input:not([type='radio']),
input:not([type='range']),
textarea,
select,
button,
.btn {
  padding: 1em;
  border: 1px solid $grey;
  border-radius: 0;
  margin-bottom: 1em;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

textarea {
  min-height: 8em;
  resize: vertical;
}

label {
  margin-bottom: 0.5em;
}

@import 'form';
@import 'publication';
