.publication-item {
  display: flex;
  align-items: center;
  aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin-right: 1em;
    strong {
      font-size: 2em;
    }
    button {
      background: transparent;
    }
  }
  figure {
    max-width: 4em;
    max-height: 4em;
  }
}
