<h1>Movie Search Engine</h1>

<form action='/results'>
  <label for='input-search-term'>Search for any movie</label>
  <input
    id='input-search-term'
    type='text'
    name='term'
    placeholder='Search for any movie...'
  />
  <button>Search</button>
</form>