<h1>Make new publication</h1>

<form method='POST'>
  <label for='title-input'>Title</label>
  <input id='title-input' type='text' name='title' placeholder='Title' />

  <label for='url-input'>Url</label>
  <input id='url-input' type='url' name='url' placeholder='Url' />

  <button>Create Publication</button>
</form>