<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta
      name='viewport'
      content='width=device-width, initial-scale=1, shrink-to-fit=no'
    />
    <title>{{title}}</title>
    <link rel='stylesheet' href='/styles/style.css' />
  </head>
  <body>
    <nav>
      <a href='/'>Home</a>
      {{#if user}}
        <form method='POST' action='/log-out'>
          <button>Log Out</button>
        </form>
      {{else}}
        <a href='/register'>Register</a>
        <a href='/log-in'>Log In</a>
      {{/if}}
    </nav>
    {{{body}}}
    <script src='/scripts/script.js'></script>
  </body>
</html>