<form method='POST'>
  <label for='input-email'>Your Email</label>
  <input id='input-email' type='email' name='email' placeholder='Your Email' />

  <label for='input-password'>Password</label>
  <input
    id='input-password'
    type='password'
    name='password'
    placeholder='Password'
  />

  <button>Register</button>
</form>